PySide6-Essentials==6.11.2
shiboken6==6.11.2
pillow==12.3.0
mss==10.2.0
pynput==1.8.2
winrt-runtime==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.Globalization==3.2.1
winrt-Windows.Graphics.Imaging==3.2.1
winrt-Windows.Media.Ocr==3.2.1
winrt-Windows.Storage.Streams==3.2.1
six==1.17.0
numpy==2.5.3
